.App {
  text-align: center;
}

    body {
      font-family: "Spline Sans Mono", monospace;
      background-color: #f3e9df;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      max-width: 800px;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 900;
      margin-top: 40px;
    }

    h1 span {
      margin-left: 8px;
    }

    .community {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 20px 0 10px;
    }

    .info {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 20px auto 10px;
      text-align: left;
    }

    .attendee-count a {
      color: #3a71a1;
      text-decoration: none;
      font-weight: bold;
    }

    .attendee-count {
      display: inline-block;
      background: #d3cac2;
      padding: 6px 14px;
      border-radius: 4px;
      font-size: 1rem;
      margin-bottom: 25px;
    }

    .card {
      max-width: 668px;
      margin: 0 auto;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    }

    .card img {
      width: 100%;
      height: 420px;
      display: block;
      object-fit: cover;
    }

    .card-footer {
      background: #1c1c1c;
      color: #fff;
      padding: 14px;
      font-weight: bold;
      font-size: 20px;
    }

    /* Responsive rule */
    @media (max-width: 809px) {
      .card {
        max-width: 100%;
        width: 100%;
        border-radius: 20px;
      }

      .card img {
        height: auto;
      }

      .card-footer {
        font-size: 16px;
      }
    }